<div class="modal fade" id="reportModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Location Melden</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="reportForm" method="POST">
					<input type="hidden" name="locationId" value="{{ Location.id }}">

					<label for "reportType" class="form-label">Grund:
						<span style="color: red;">*</span>
					</label>
					<div class="mb-3">
                        {% for reason in ReportReasons %}
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="{{ reason.value }}" name="reason[]" id="reportType{{ reason.name }}">
							<label class="form-check-label" for="reportType{{ reason.name }}">
								{{ reason.getLabel() }}
							</label>
						</div>
                        {% endfor %}
					</div>

					<div class="mb-3">
						<label for="reportDescription" class="form-label">Beschreibung:
							<span style="color: red;">*</span>
						</label>
						<textarea class="form-control" name="description" id="reportDescription" rows="3"></textarea>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
					<button type="submit" form="reportForm" class="btn btn-primary">Abschicken</button>
				</div>
			</div>
		</div>
	</div>
</div>
