<li class="nav-item">
	<button type="button" class="nav-link {% if active %}active{% endif %}" role="tab" data-bs-toggle="tab" data-bs-target="#tabpane-{{ id }}" aria-controls="tabpane-{{ id }}" aria-selected="{% if active %}true{% else %}false{% endif %}">
		<span class="d-none d-sm-inline-flex align-items-center">
			<i class="{{ icon }} me-1"></i>
			{{ text }}
			<span id="required-indicator-tabpane-{{ id }}" class="ms-1 badge rounded-pill badge-center h-px-20 w-px-20 bg-danger ms-1_5" style="display: none;">!</span>
		</span>
	</button>
</li>
