{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.EditTemplate.Title"| translate %}
{% set currentPage = 'admin/templates' %}


{% block Content %}
	<div class="row">
		<div class="col-xxl-12 mb-6 order-0 gy-2">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.EditTemplate.Title"| translate }}
					</h5>

				</div>
				<div class="card-body">
					<form>
						<div class="mb-2">
							<label class="form-label" for="id">{{ "CMSControl.Views.EditTemplate.Form.Id"| translate }}</label>
							<input type="text" class="form-control" disabled value="{{ Template.id }}">
						</div>

						<div class="my-2">
							<label class="form-label" for="name">{{ "CMSControl.Views.EditTemplate.Form.Name"| translate }}</label>
							<input type="text" class="form-control" name="name" id="name" required value="{{ Template.name }}" {% if not HasWritePermissions %}disabled{% endif %}>
						</div>

						<div class="my-2">
							<label class="form-label" for="name">{{ "CMSControl.Views.EditTemplate.Form.Directory"| translate }}</label>
							<input type="text" class="form-control" name="directory" id="directory" value="{{ Template.directory }}" {% if not HasWritePermissions %}disabled{% endif %}>
						</div>
						<div class="my-2">
							<label class="form-label" for="layout">{{ "CMSControl.Views.EditTemplate.Form.Layout"| translate }}</label>
							<select class="form-select" name="layout" id="layout" aria-label="Default select example" {% if not HasWritePermissions %}disabled{% endif %}>
								<option value="null" selected>{{ "CMSControl.Views.EditTemplate.Form.Layout.Default"| translate }}</option>
								{% for Layout in Layouts %}
									<option value="{{ Layout.id }}" {% if Template.layout is not null and Template.layout.id == Layout.id %}selected{% endif %}>{{ Layout.name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="my-2">
							<label class="form-label" for="editor">{{ "CMSControl.Views.EditTemplate.Form.Content"| translate }}</label>
							<textarea name="content" id="editor" {% if not HasWritePermissions %}disabled{% endif %}>{{ Template.content|raw }}</textarea>
						</div>

						<button type="reset" class="btn btn-secondary" {% if not HasWritePermissions %}disabled{% endif %}>{{ 'CMSControl.Views.EditTemplate.Form.Button.Reset'|translate }}</button>
						<button type="submit" class="btn btn-primary" {% if not HasWritePermissions %}disabled{% endif %}>{{ 'CMSControl.Views.EditTemplate.Form.Button.Save'|translate }}</button>
					</form>
				</div>
			</div>
			{% include "Components/Cards/TemplateInfoCard.twig" %}
		</div>
	</div>
{% endblock %}

{% block PageCSS %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.css">
{% endblock %}

{% block PageJs %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/htmlmixed/htmlmixed.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/xml/xml.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/javascript/javascript.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/css/css.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/twig/twig.min.js"></script>

	<script src="{{ includeResource("js/CMSControl/edit_template.js") }}"></script>
{% endblock %}
