{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.EditLayouts.Title"| translate %}
{% set currentPage = 'admin/layouts' %}


{% block Content %}
	<div class="row">
		<div class="col-xxl-12 mb-6 order-0 gy-2">

			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.Layouts.Title"| translate }}
					</h5>

				</div>
				<div class="card-body">
					{% if 'vendor/libs/ckeditor5/ckeditor5-content.css' not in Layout.content %}
						<div class="alert alert-warning">
							{{ "CMSControl.Views.Layouts.MissingEditorContent"| translate }}
						</div>
					{% endif %}
					{% if 'ck ck-content' not in Layout.content %}
						<div class="alert alert-warning">
							{{ "CMSControl.Views.Layouts.MissingEditorContentClass"| translate }}
						</div>
					{% endif %}
					<form>
						<div class="mb-2">
							<label class="form-label" for="id">{{ "CMSControl.Views.Layouts.Form.Id"| translate }}</label>
							<input type="text" class="form-control" disabled value="{{ Layout.id }}">
						</div>

						<div class="my-2">
							<label class="form-label" for="name">{{ "CMSControl.Views.Layouts.Form.Name"| translate }}</label>
							<input type="text" class="form-control" name="name" id="name" required value="{{ Layout.name }}" {% if not HasWritePermissions %}disabled{% endif %}>
						</div>
						<div class="my-2">
							<label class="form-label" for="editor">{{ "CMSControl.Views.Layouts.Form.Content"| translate }}</label>
							<textarea name="content" id="editor" {% if not HasWritePermissions %}disabled{% endif %}>{{ Layout.content|raw }}</textarea>
						</div>

						<button type="reset" class="btn btn-secondary" {% if not HasWritePermissions %}disabled{% endif %}>{{ 'CMSControl.Views.Layouts.Form.Button.Reset'|translate }}</button>
						<button type="submit" class="btn btn-primary" {% if not HasWritePermissions %}disabled{% endif %}>{{ 'CMSControl.Views.Layouts.Form.Button.Save'|translate }}</button>
					</form>
				</div>
			</div>
			{% include "Components/Cards/LayoutInfoCard.twig" %}
		</div>
	</div>
{% endblock %}

{% block PageCSS %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.css">
{% endblock %}

{% block PageJs %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/htmlmixed/htmlmixed.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/xml/xml.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/javascript/javascript.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/css/css.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/twig/twig.min.js"></script>

	<script src="{{ includeResource("js/CMSControl/edit_layout.js") }}"></script>
{% endblock %}
