{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.MovePage.Title"| translate %}
{% set currentPage = 'admin/pages' %}


{% block Content %}
	<div class="row">
		<div class="col-xxl-6 mb-6 order-0 gy-2">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.Categories.Card.MovePage.Title"| translate }}</h5>
				</div>
				<div class="card-body">
					<div class="my-2">
						<label class="form-label" for="category-id">{{ "CMSControl.Views.MovePage.Card.Form.Id"| translate }}</label>
						<input type="text" class="form-control" id="category-id" readonly value="{{ Page.id }}">
					</div>

					<div class="my-2">
						<label class="form-label" for="page-name">{{ "CMSControl.Views.MovePage.Card.Form.Name"| translate }}</label>
						<input type="text" class="form-control" id="page-name" readonly value="{{ Page.name }}">
					</div>

					<div class="my-2">
						<label class="form-label" for="page-slug">{{ "CMSControl.Views.MovePage.Card.Form.Slug"| translate }}</label>
						<input type="text" class="form-control" id="page-slug" readonly value="{{ Page.slug }}">
					</div>
					<input type="hidden" class="form-control" id="page-category" value="{{ Page.category.id }}">
				</div>
			</div>
		</div>
		<div class="col-xxl-6 mb-6 order-0 gy-2">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.MovePage.SelectNewCategory"| translate }}</h5>

				</div>
				<div class="card-body">
					<div id="category_tree"></div>
					<button type="button" id="move-button" class="btn btn-primary mt-2">{{ "CMSControl.Views.MovePage.Form.Save"| translate }}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block PageJs %} <script src="{{ includeResource("js/CMSControl/move_page.js") }}"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.17/jstree.min.js" integrity="sha512-Rzhxh2sskKwa+96nRopp/hvGexBzEPG6mnFI6uRy059FZfksJJFYmqDFn050KUDhivXLsT6SvoaEf5iSp2SHjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}


{% block PageCSS %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.17/themes/default/style.min.css" integrity="sha512-A5OJVuNqxRragmJeYTW19bnw9M2WyxoshScX/rGTgZYj5hRXuqwZ+1AVn2d6wYTZPzPXxDeAGlae0XwTQdXjQA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
