{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.Navbars.Title"| translate %}
{% set currentPage = 'admin/navbars' %}


{% block Content %}
	<div class="row">
		<div class="col-xxl-3 mb-6 order-0 gy-2">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.Navbars.Title"| translate }}
						{% if HasWritePermission %}
							<button type="button" id="create-navbar" data-bs-toggle="modal" data-bs-target="#createNavbarModal" class="btn btn-primary btn-sm float-end">
								<i class="fa-solid fa-plus"></i>
								{{ "CMSControl.Views.Navbars.Card.SelectPage.Tree.Create"| translate }}</button>
						{% endif %}
					</h5>

				</div>
				<div class="card-body">
					<div id="navbar_tree"></div>
				</div>
			</div>
		</div>
		<div class="col-xxl-9 mb-6 order-0 gy-2" style="display: none;" id="navbar-edit">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.Navbars.Card.EditNavbar.Title"| translate }}</h5>
				</div>
				<div class="card-body">
					<form id="page-edit-form">
						<div class="my-2">
							<label class="form-label" for="navbar-id">{{ "CMSControl.Views.Navbars.Card.Form.Id"| translate }}</label>
							<input type="text" class="form-control" name="id" id="navbar-id" disabled>
						</div>

						<div class="my-2">
							<label class="form-label" for="navbar-text">{{ "CMSControl.Views.Navbars.Card.Form.Name"| translate }}</label>
							<input type="text" class="form-control" name="text" id="navbar-text" {% if not HasWritePermission %} disabled {% endif %}>
						</div>

						<div class="my-2">
							<label class="form-label" for="navbar-icon">{{ "CMSControl.Views.Navbars.Card.Form.Icon"| translate }}</label>
							<input type="text" class="form-control" name="icon" id="navbar-icon" {% if not HasWritePermission %} disabled {% endif %}>
						</div>

						<div class="my-2">
							<label class="form-label" for="navbar-target">{{ "CMSControl.Views.Navbars.Card.Form.Target"| translate }}</label>
							<input type="text" class="form-control" name="target" id="navbar-target" required {% if not HasWritePermission %} disabled {% endif %}>
						</div>


						<div class="row-cols-4">
							{% for PageProperty in PageProperties %}
								<div class="col">
									<div class="form-check form-switch mb-2">
										<input class="form-check-input" type="checkbox" id="property_{{ PageProperty.name|lower|replace({' ': '_'}) }}" name="properties" value="{{ PageProperty.value }}" {% if not HasWritePermission %} disabled {% endif %}>
										<label class="form-check-label" for="property_{{ PageProperty.name|lower|replace({' ': '_'}) }}">
											{{ ('CMSControl.Views.Navbars.Card.Form.Visibility.' ~ PageProperty.name)|translate }}
										</label>
									</div>
								</div>
							{% endfor %}
						</div>


						<button type="submit" class="btn btn-primary" {% if not HasWritePermission %} disabled {% endif %}>{{ "CMSControl.Views.Navbars.Card.Form.Save"| translate }}</button>
						<button type="button" id="delete-page" class="btn btn-danger" {% if not HasWritePermission %} data-readonly="true" disabled {% endif %}>{{ "CMSControl.Views.Navbars.Card.Form.Delete"| translate }}</button>
						<button type="button" id="move-page" class="btn btn-info" {% if not HasWritePermission %} disabled {% endif %}>{{ "CMSControl.Views.Navbars.Card.Form.Move"| translate }}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include "Components/Modals/CreatePage.twig" %}
{% endblock %}

{% block PageJs %}
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="{{ includeResource("js/CMSControl/navbars.js") }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.17/jstree.min.js" integrity="sha512-Rzhxh2sskKwa+96nRopp/hvGexBzEPG6mnFI6uRy059FZfksJJFYmqDFn050KUDhivXLsT6SvoaEf5iSp2SHjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}


{% block PageCSS %}
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.17/themes/default/style.min.css" integrity="sha512-A5OJVuNqxRragmJeYTW19bnw9M2WyxoshScX/rGTgZYj5hRXuqwZ+1AVn2d6wYTZPzPXxDeAGlae0XwTQdXjQA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
