{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.Pages.Title"| translate %}
{% set currentPage = 'admin/pages' %}
{% set load_quill = true %}


{% block Content %}
	<div class="row">
		<div class="col-xxl-3 mb-6 order-0 gy-2">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.Pages.Title"| translate }}
						{% if HasWritePermission %}
							<button type="button" id="create-page" data-bs-toggle="modal" data-bs-target="#createPageModal" class="btn btn-primary btn-sm float-end">
								<i class="fa-solid fa-plus"></i>
								{{ "CMSControl.Views.Pages.Card.SelectPage.Tree.Create"| translate }}</button>
						{% endif %}
					</h5>

				</div>
				<div class="card-body">
					<div id="page_tree"></div>
				</div>
			</div>
		</div>
		<div class="col-xxl-9 mb-6 order-0 gy-2" style="display: none;" id="page-edit">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.Pages.Card.EditPage.Title"| translate }}</h5>
				</div>
				<div class="card-body">
					<form id="page-edit-form">
						<div class="my-2">
							<label class="form-label" for="page-url">{{ "CMSControl.Views.Pages.Card.EditPage.Form.Url"| translate }}:</label>
							<a href="#" target="_blank" id="page-url">URL</a>
						</div>
						<div class="my-2">
							<label class="form-label" for="category-id">{{ "CMSControl.Views.Pages.Card.EditPage.Form.Id"| translate }}</label>
							<input type="text" class="form-control" name="id" id="page-id" disabled>
						</div>

						<div class="my-2">
							<label class="form-label" for="category-name">{{ "CMSControl.Views.Pages.Card.EditPage.Form.Name"| translate }}</label>
							<input type="text" class="form-control" name="name" id="page-name" required {% if not HasWritePermission %} disabled {% endif %}>
						</div>

						<div class="my-2">
							<label class="form-label" for="category-name">{{ "CMSControl.Views.Pages.Card.EditPage.Form.Slug"| translate }}</label>
							<input type="text" class="form-control" name="slug" id="page-slug" required {% if not HasWritePermission %} disabled {% endif %}>
						</div>

						<div class="my-2">
							<label class="form-label" for="category-slug">{{ "CMSControl.Views.Pages.Card.EditPage.Form.Template"| translate }}</label>
							<select class="form-select" name="template" id="page-template" aria-label="Default select example" {% if not HasWritePermission %} disabled {% endif %} required>
								<option selected disabled>{{ "CMSControl.Views.Pages.Card.EditPage.Form.Template.Default"| translate }}</option>
								{% for Template in Templates %}
									<option value="{{ Template.id }}">[{{ Template.path }}] {{ Template.name }}</option>
								{% endfor %}
							</select>
						</div>

						<div class="my-2">
							<label class="form-label" for="category-slug">{{ "CMSControl.Views.Pages.Card.EditPage.Form.Content"| translate }}</label>
							{#
							{% include "Components/QuillEditor.twig" %}
							#}
							{% include "Components/EditorJS.twig" %}
						</div>

						<div class="row-cols-4">
							{% for PageProperty in PageProperties %}
								<div class="col">
									<div class="form-check form-switch mb-2">
										<input class="form-check-input" type="checkbox" id="property_{{ PageProperty.name|lower|replace({' ': '_'}) }}" name="properties" value="{{ PageProperty.value }}" {% if not HasWritePermission %} disabled {% endif %}>
										<label class="form-check-label" for="property_{{ PageProperty.name|lower|replace({' ': '_'}) }}">
											{{ ('CMSControl.Views.Pages.Card.EditPage.Form.Visibility.' ~ PageProperty.name)|translate }}
										</label>
									</div>
								</div>
							{% endfor %}
						</div>


						<button type="submit" class="btn btn-primary" {% if not HasWritePermission %} disabled {% endif %}>{{ "CMSControl.Views.Pages.Card.EditPage.Form.Save"| translate }}</button>
						<button type="button" id="delete-page" class="btn btn-danger" {% if not HasWritePermission %} data-readonly="true" disabled {% endif %}>{{ "CMSControl.Views.Pages.Card.EditPage.Form.Delete"| translate }}</button>
						<button type="button" id="move-page" class="btn btn-info" {% if not HasWritePermission %} disabled {% endif %}>{{ "CMSControl.Views.Pages.Card.EditPage.Form.Move"| translate }}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include "Components/Modals/CreatePage.twig" %}
{% endblock %}

{% block PageJs %}
	<script src="{{ includeResource("js/CMSControl/pages.js") }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.17/jstree.min.js" integrity="sha512-Rzhxh2sskKwa+96nRopp/hvGexBzEPG6mnFI6uRy059FZfksJJFYmqDFn050KUDhivXLsT6SvoaEf5iSp2SHjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}


{% block PageCSS %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.17/themes/default/style.min.css" integrity="sha512-A5OJVuNqxRragmJeYTW19bnw9M2WyxoshScX/rGTgZYj5hRXuqwZ+1AVn2d6wYTZPzPXxDeAGlae0XwTQdXjQA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
