{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.Plugins.Title"| translate %}
{% set currentPage = 'admin/plugins' %}


{% block Content %}
	<div class="row">
		<div class="col-xxl-12 mb-6 order-0 gy-2">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ "CMSControl.Views.Plugins.Title"| translate }}</h5>

				</div>
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">{{ "CMSControl.Views.Plugins.Table.Column.Plugin"| translate }}</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for Plugin in Plugins %}
								<tr>
									<td>
										<h5>{{ Plugin.name }}</h5>
										<small>{{ Plugin.description }}</small>
										<br><br>
										<small>Version:
											{{ Plugin.version }}
											|
											{{ Plugin.authors[0].name|default('Unknown') }}</small>
									</td>
									<td>
										{% if HasWritePermission %}
											{% if Plugin.loaded %}
												<a href="{{ generateLink("admin/plugins/" ~ "?name=" ~ Plugin.path ~ "&deactivate=1") }}" class="btn btn-sm btn-primary">
													<i class="fa-solid fa-minus"></i>
													{{ "CMSControl.Views.Plugins.Card.Button.Deactivate"| translate }}</a>
											{% else %}
												<a href="{{ generateLink("admin/plugins/" ~ "?name=" ~ Plugin.path ~ "&activate=1") }}" class="btn btn-sm btn-primary">
													<i class="fa-solid fa-plus"></i>
													{{ "CMSControl.Views.Plugins.Card.Button.Activate"| translate }}</a>
												<a href="{{ generateLink("admin/plugins/" ~ "?name=" ~ Plugin.path ~ "&delete=1") }}" class="btn btn-sm btn-danger">
													<i class="fa-solid fa-trash"></i>
													{{ "CMSControl.Views.Plugins.Card.Button.Delete"| translate }}</a>
											{% endif %}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block PageJs %}
	<script src="{{ includeResource("js/CMSControl/layouts.js") }}"></script>
{% endblock %}
