{% extends "Base.twig" %}
{% set pageTitle = "CMSControl.Views.Register.Title"| translate %}

{% block PageCSS %}
	<link rel="stylesheet" href="{{ includeResource("vendor/css/pages/page-auth.css") }}">
{% endblock %}
{% block PageJs %}
	<script src="{{ includeResource("js/CMSControl/register.js") }}"></script>
{% endblock %}
{% block LayoutWrapper %}
	<div class="container-xxl">
		<div class="authentication-wrapper authentication-basic container-p-y">
			<div class="authentication-inner">
				<div class="card px-sm-6 px-0">
					<div
						class="card-body">
						<!-- Logo -->
						<div class="app-brand justify-content-center">
							<a href="{{ generateLink("admin") }}" class="app-brand-link gap-2">
								<span class="app-brand-logo demo">
									<img width="32" src="{{ config.CMSControl_BrandLogoUrl|default(includeResource("img/crisp_icon.svg")) }}" alt="brand-logo" class="logo logo-dark">
								</span>
								<span class="app-brand-text demo text-heading fw-bold">{{ config.CMSControl_SiteName|default('CrispCMS') }}</span>
							</a>
						</div>
						<!-- /Logo -->
						{% if IsFirstUser %}
							<div class="alert alert-warning fade show" role="alert">
								{{ 'CMSControl.Views.Register.FirstUser.Alert.Text'|translate }}
							</div>
						{% endif %}
						<h4 class="mb-1">{{ 'CMSControl.Views.Register.Brand.Header'|translate }}
							👋</h4>
						<p class="mb-6">{{ 'CMSControl.Views.Register.Brand.Subheader'|translate }}</p>

						<form id="formAuthentication" method="POST" class="mb-6" action="{{ generateLink("admin/register") }}">
							<div class="mb-6">
								<label for="name" class="form-label">{{ 'CMSControl.Views.Register.Name.Label'|translate }}
									{% include "Components/RequiredInputLabel.twig" %}</label>
								<input type="text" class="form-control" id="name" name="name" autofocus required {% if Token is defined %} value="{{ Token.user.name }}" readonly {% endif %}>
							</div>
							<div class="mb-6">
								<label for="email" class="form-label">{{ 'CMSControl.Views.Register.Email.Label'|translate }}
									{% include "Components/RequiredInputLabel.twig" %}</label>
								<input type="text" class="form-control" id="email" name="email" autofocus required {% if Token is defined %} value="{{ Token.user.email }}" readonly {% endif %}>
							</div>
							<div class="mb-6">
								<label for="username" class="form-label">{{ 'CMSControl.Views.Register.Username.Label'|translate }}
									{% include "Components/RequiredInputLabel.twig" %}</label>
								<input type="text" class="form-control" id="username" name="username" autofocus required {% if Token is defined %} value="{{ Token.user.username }}" readonly {% endif %}>
							</div>
							<div class="mb-6 form-password-toggle">
								<label class="form-label" for="password">{{ 'CMSControl.Views.Register.Password.Label'|translate }}
									{% include "Components/RequiredInputLabel.twig" %}</label>
								<div class="input-group input-group-merge">
									<input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required/>
									<span class="input-group-text cursor-pointer">
										<i class="bx bx-hide"></i>
									</span>
								</div>
							</div>
							<div class="mb-6 form-password-toggle">
								<label class="form-label" for="password_confirm">{{ 'CMSControl.Views.Register.ConfirmPassword.Label'|translate }}
									{% include "Components/RequiredInputLabel.twig" %}</label>
								<div class="input-group input-group-merge">
									<input type="password" id="password_confirm" class="form-control" name="password_confirm" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required/>
									<span class="input-group-text cursor-pointer">
										<i class="bx bx-hide"></i>
									</span>
								</div>
							</div>
							<div class="mt-2 mb-6">
								<button class="btn btn-primary d-grid w-100" type="submit">{{ 'CMSControl.Views.Register.Button.Text'|translate }}</button>
							</div>
						</form>

						{% if config.CMSControl_RegisterEnabled %}
							<p class="text-center">
								<span>New on our platform?</span>
								<a href="auth-register-basic.html">
									<span>Create an account</span>
								</a>
							</p>
						{% endif %}
						<hr>
						{% include "Components/LanguageSelector.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- / Content -->
{% endblock %}
