<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createCategoryModalLabel">{{ 'CMSControl.Components.Modals.CreateCategory.Modal.Title'|translate }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="category-create-form">

					<div class="my-2">
						<label class="form-label" for="new-category-name">{{ "CMSControl.Components.Modals.CreateCategory.Modal.Form.Name"| translate }}</label>
						<input type="text" class="form-control" name="name" id="new-category-name" required>
					</div>
					{#
					<div class="my-2">
						<label class="form-label" for="new-category-slug">{{ "CMSControl.Components.Modals.CreateCategory.Modal.Form.Slug"| translate }}</label>
						<input type="text" class="form-control" name="slug" id="new-category-slug">
					</div>
					#}
					<div class="my-2">
						<label class="form-label" for="new-category-parent">{{ "CMSControl.Components.Modals.CreateCategory.Modal.Form.Parent"| translate }}</label>
						<input type="text" class="form-control" id="new-category-parent" disabled required>
					</div>


					<div class="row-cols-2">
						{% for CategoryProperty in CategoryProperties %}
							<div class="col">
								<div class="form-check form-switch mb-2">
									<input class="form-check-input" type="checkbox" id="new-property_{{ CategoryProperty.name|lower|replace({' ': '_'}) }}" name="properties[]" value="{{ CategoryProperty.value }}" {% if not HasWritePermission %} disabled {% endif %}>
									<label class="form-check-label" for="new-property_{{ CategoryProperty.name|lower|replace({' ': '_'}) }}">
										{{ ('CMSControl.Views.Categories.Card.EditCategory.Form.Visibility.' ~ CategoryProperty.name)|translate }}
									</label>
								</div>
							</div>
						{% endfor %}
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'CMSControl.Components.Modals.CreateCategory.Modal.Button.Close'|translate }}</button>
				<button type="submit" form="category-create-form" class="btn btn-primary">{{ 'CMSControl.Components.Modals.CreateCategory.Modal.Button.Create'|translate }}</button>
			</div>
		</div>
	</div>
</div>
