<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createUserModalLabel">{{ 'CMSControl.Components.Modals.CreateUser.Modal.Title'|translate }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="user-create-form">


					<div class="my-2">
						<label class="form-label" for="new-user-username">{{ "CMSControl.Views.Users.Card.EditUser.Form.Username"| translate }}</label>
						<input type="text" class="form-control" name="username" id="new-user-username" required>
					</div>

					<div class="my-2">
						<label class="form-label" for="new-user-name">{{ "CMSControl.Views.Users.Card.EditUser.Form.Name"| translate }}</label>
						<input type="text" class="form-control" name="name" id="new-user-name" required>
					</div>

					<div class="my-2">
						<label class="form-label" for="new-user-email">{{ "CMSControl.Views.Users.Card.EditUser.Form.Email"| translate }}</label>
						<input type="email" class="form-control" name="email" id="new-user-email" required>
					</div>

					<div class="my-2">
						<label class="form-label" for="new-user-role">{{ "CMSControl.Views.Users.Card.EditUser.Form.Role"| translate }}</label>
						<select class="form-select" name="role" id="new-user-role" aria-label="Default select example" required>
							<option value="null" selected disabled>{{ "CMSControl.Views.Users.Card.EditUser.Form.Role.Default"| translate }}</option>
							{% for Role in Roles %}
								<option value="{{ Role.id }}">{{ Role.name|translate }}</option>
							{% endfor %}
						</select>
					</div>
					

					<div class="my-2">
						<label class="form-label" for="new-user-password">{{ "CMSControl.Views.Users.Card.EditUser.Form.Password"| translate }}</label>
						<input type="password" class="form-control" name="password" id="new-user-password" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'CMSControl.Components.Modals.CreateUser.Modal.Button.Close'|translate }}</button>
				<button type="submit" form="user-create-form" class="btn btn-primary">{{ 'CMSControl.Components.Modals.CreateUser.Modal.Button.Create'|translate }}</button>
			</div>
		</div>
	</div>
</div>
